@using HealthWellbeingRoom.Models.FileMedicalDevices;
@model IEnumerable<MedicalDevices> ;

@{
    ViewData["Title"] = "Lista de Dispositivos Médicos Registados";
}

<h1>@ViewData["Title"]</h1>

<hr />

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th> 
            <th scope="col">Nome do dispositivo</th> 
            <th scope="col">Tipo do dispositivo</th>
            <th scope="col">Quantidade do dispositivo</th>
            <th scope="col">ID da Sala</th>
        </tr>
    </thead>
    <tbody>
        @* Itera sobre cada dispositivo na lista (Model) *@
        @foreach (var dispositivo in Model)
        {
            <tr>
                @*(DisplayNameFor) -> Titulo de cada coluna da lista*@
                <td>@Html.DisplayFor(modelItem => dispositivo.DevicesID)</td>
                <td>@Html.DisplayFor(modelItem => dispositivo.Name)</td>
                <td>@Html.DisplayFor(modelItem => dispositivo.Type)</td>
                <td>@Html.DisplayFor(modelItem => dispositivo.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => dispositivo.SalaID)</td>
                <td>
                    @*gera um link, passa o id do dispositivo clicado e leva a view Read*@
                    <a asp-action="ReadMedicalDevices" asp-route-id="@dispositivo.DevicesID" class="btn btn-sm btn-info">
                        Ver Detalhes
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mt-4">
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle"></i> Voltar
    </a>
</div>
