@model HealthWellbeing.Models.LocationMaterial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocationMaterial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cabinet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cabinet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drawer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drawer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LocationMaterialID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
