@model HealthWellbeing.Models.UsoConsumivel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsoConsumivel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentRecord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentRecord.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumivel.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeUsada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeUsada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsumo)
        </dd>
        <dt class="col-sm-2">
            Utilizador
        </dt>
        <dd class="col-sm-10">
            @ViewBag.UserName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsoConsumivelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
