@model IEnumerable<HealthWellbeing.Models.UsoConsumivel>

@{
    ViewData["Title"] = "Histórico de Consumos";
}

<h1>Histórico de Consumos</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@* <p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo Consumo</a>
</p> *@

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentRecord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeUsada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConsumo)
            </th>
            <th>
                Zona
            </th>
            <th>Acções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.TreatmentRecord != null)
                    {
                        <span>#@item.TreatmentRecord.Id</span>
                    }
                    else
                    {
                        <span>Avulso</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumivel.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeUsada)
                </td>
                <td>
                    @item.DataConsumo.ToString("dd/MM/yyyy HH:mm")
                </td>
                <td>
                    @(item.ZonaArmazenamento != null ? item.ZonaArmazenamento.NomeZona : "N/A")
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UsoConsumivelId" class="btn btn-info btn-sm">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>