@model IEnumerable<HealthWellbeing.Models.UsoConsumivel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentRecord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeUsada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConsumo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentRecord.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumivel.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeUsada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsumo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsoConsumivelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsoConsumivelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsoConsumivelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
