@model IEnumerable<HealthWellbeing.Models.ClienteBalnearioModel>

<h2>Lista de Clientes do Balneário</h2>

<form method="get" class="mb-3">
    <input type="text" name="search" value="@ViewBag.Search" placeholder="Pesquisar nome..." />
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>


<p>
    <a asp-action="Create" class="btn btn-success">Novo Cliente</a>
</p>

@if (!Model.Any())
{
    <p class="text-muted">Nenhum cliente encontrado.</p>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}





<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome Completo</th>
            <th>Email</th>
            <th>Telemóvel</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NomeCompleto</td>
                <td>@item.Email</td>
                <td>@item.Telemovel</td>
                <td>
                    <span class="badge @(item.TipoCliente == "VIP" ? "bg-warning text-dark" : "bg-secondary")">
                        @item.TipoCliente
                    </span>
                </td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.ClienteBalnearioId"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a asp-action="Details"
                       asp-route-id="@item.ClienteBalnearioId"
                       class="btn btn-info btn-sm">
                        Detalhes
                    </a>


                    <a asp-action="Delete"
                       asp-route-id="@item.ClienteBalnearioId"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Tem a certeza que deseja apagar este cliente?')">
                        Apagar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <nav>
        <ul class="pagination">

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i"
                       asp-route-search="@ViewBag.Search">
                        @i
                    </a>
                </li>
            }

        </ul>
    </nav>
}
