@model IEnumerable<HealthWellbeing.Models.HistoricoAtividade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UtenteGrupo7Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanoExercicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UtenteGrupo7Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercicio.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanoExercicios.PlanoExerciciosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
