@model IEnumerable<HealthWellbeing.Models.Levels>

@{
    ViewData["Title"] = "Levels";
}

<h1>Levels</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    
                <a asp-action="Details" asp-route-id="@item.LevelId" class="btn btn-info">Details</a>
                <a asp-action="Edit" asp-route-id="@item.LevelId" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.LevelId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
