@model IEnumerable<HealthWellbeing.Models.TerapeutaModel>

@{
    ViewData["Title"] = "Terapeuta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Terapeuta</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo Terapeuta</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnosExperiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnosExperiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TerapeutaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TerapeutaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TerapeutaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
