@model HealthWellbeing.Models.Activity_

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activity_</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberReps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberReps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weigth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weigth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Activity_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
