@model HealthWellbeing.Models.ProblemaSaude

@{
    ViewData["Title"] = "Detalhes do Problema de Saúde";
}

<h1>Detalhes do Problema de Saúde</h1>

<table class="table table-bordered">
    <tr>
        <th>Categoria</th>
        <td>@Model.ProblemaCategoria</td>
    </tr>
    <tr>
        <th>Nome</th>
        <td>@Model.ProblemaNome</td>
    </tr>
    <tr>
        <th>Zona Atingida</th>
        <td>@Model.ZonaAtingida</td>
    </tr>
    <tr>
        <th>Gravidade</th>
        <td>@Model.Gravidade / 10</td>
    </tr>
</table>

<a asp-action="Edit" asp-route-id="@Model.ProblemaSaudeId" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary ms-2">Voltar</a>
