@model IEnumerable<HealthWellbeing.Models.ComponentesDaReceita>

@{
    ViewData["Title"] = "Index";
}

<h1>Componentes da Receita</h1>

<p>
<p><a class="btn btn-primary" asp-action="Create">Novo</a></p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Receita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proteinas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HidratosCarbono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gorduras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpcional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Receita.ModoPreparo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calorias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proteinas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HidratosCarbono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gorduras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpcional)
            </td>
            <td>

                 <a asp-action="Details" asp-route-id="@item.ComponentesDaReceitaId"
                            class="btn btn-sm btn-secondary ms-1">Ver</a>
                        <a asp-action="Edit" asp-route-id="@item.ComponentesDaReceitaId"
                            class="btn btn-sm btn-warning ms-1 ">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.ComponentesDaReceitaId"
                            class="btn btn-sm btn-danger ms-1">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
