@model HealthWellBeing.Models.Exame

@{
    ViewData["Title"] = "Apagar Exame";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Eliminar Exame</h1>

    <a id="btnVoltar" class="btn"
       style="background-color: red; color: white; margin-top: 1.5rem;">
        Voltar para a Lista
    </a>
</div>

<h3>Tem a certeza que deseja eliminar este registo?</h3>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-4">
            Data e Hora
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DataHoraMarcacao)
        </dd>

        <dt class="col-sm-4">
            Estado
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt class="col-sm-4">
            Notas
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Notas)
        </dd>

        <dt class="col-sm-4">
            Utente
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Utente.Nif)
        </dd>

        <dt class="col-sm-4">
            Tipo de Exame
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ExameTipo.Especialidade)
        </dd>

        <dt class="col-sm-4">
            Médico (ID)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicoId)
        </dd>

        <dt class="col-sm-4">
            Sala do Exame
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SalaDeExame.TipoSala)
        </dd>

        <dt class="col-sm-4">
            Profissional Executante
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProfissionalExecutante.Email)
        </dd>

        <dt class="col-sm-4">
            Material Associado
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MaterialEquipamentoAssociado.EstadoComponente)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="ExameId" />

        <button type="submit" class="btn btn-sm"
                style="background-color: red; color: white;">
            Eliminar
        </button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}