@model HealthWellBeing.Models.Exame

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exame</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraMarcacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraMarcacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utente.Nif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExameTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExameTipo.Especialidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaDeExame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaDeExame.TipoSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfissionalExecutante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfissionalExecutante.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialEquipamentoAssociado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialEquipamentoAssociado.EstadoComponente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
