@model HealthWellBeing.Models.Exame

@{
    ViewData["Title"] = "Editar";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Editar</h1>

    <a id="btnVoltar" class="btn"
       style="background-color: red; color: white; margin-top: 1.5rem;">
        Voltar
    </a>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExameId" />

            <div class="form-group">
                <label asp-for="DataHoraMarcacao" class="control-label">Data e Hora</label>
                <input asp-for="DataHoraMarcacao" class="form-control" />
                <span asp-validation-for="DataHoraMarcacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado</label>
                <select asp-for="Estado" class="form-control"
                        asp-items="@(ViewData["Estado"] as SelectList)">
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Notas" class="control-label">Notas</label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UtenteId" class="control-label">Utente</label>
                <select asp-for="UtenteId" class="form-control" asp-items="@(ViewData["UtenteId"] as SelectList)">
                    <option value="">-- Selecione o Utente --</option>
                </select>
                <span asp-validation-for="UtenteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExameTipoId" class="control-label">Tipo de Exame</label>
                <select asp-for="ExameTipoId" class="form-control" asp-items="@(ViewData["ExameTipoId"] as SelectList)">
                    <option value="">-- Selecione o Tipo de Exame --</option>
                </select>
                <span asp-validation-for="ExameTipoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MedicoId" class="control-label">Médico</label>
                <input asp-for="MedicoId" class="form-control" />
                <span asp-validation-for="MedicoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SalaDeExameId" class="control-label">Sala do Exame</label>
                <select asp-for="SalaDeExameId" class="form-control" asp-items="@(ViewData["SalaDeExameId"] as SelectList)">
                    <option value="">-- Selecione a Sala --</option>
                </select>
                <span asp-validation-for="SalaDeExame" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfissionalExecutanteId" class="control-label">Profissional Executante</label>
                <select asp-for="ProfissionalExecutanteId" class="form-control" asp-items="@(ViewData["ProfissionalExecutanteId"] as SelectList)">
                    <option value="">-- Selecione o Profissional Executante --</option>
                </select>
                <span asp-validation-for="ProfissionalExecutanteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaterialEquipamentoAssociadoId" class="control-label">Material Associado</label>
                <select asp-for="MaterialEquipamentoAssociadoId" class="form-control" asp-items="@(ViewData["MaterialEquipamentoAssociadoId"] as SelectList)">
                    <option value="">-- Selecione o Material --</option>
                </select>
                <span asp-validation-for="MaterialEquipamentoAssociado" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Guardar" class="btn"
                       style="background-color: green; color: white;" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#btnVoltar").click(function (e) {
                e.preventDefault();
                $('#confirmModal').modal('show');
            });
        });
    </script>
}