@model HealthWellbeing.Models.AvaliacaoFisica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvaliacaoFisica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMedicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMedicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GorduraCorporal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GorduraCorporal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MassaMuscular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MassaMuscular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pescoco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pescoco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ombros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ombros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peitoral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peitoral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BracoDireito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BracoDireito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BracoEsquerdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BracoEsquerdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cintura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cintura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abdomen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abdomen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoxaDireita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoxaDireita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoxaEsquerda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoxaEsquerda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GemeoDireito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GemeoDireito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GemeoEsquerdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GemeoEsquerdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteGrupo7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteGrupo7.UtenteGrupo7Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AvaliacaoFisicaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
