@model HealthWellbeingRoom.Models.Equipment

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="card shadow-sm">
    <div class="card-header bg-info text-black">
        <h4 class="mb-0">
            <i class="bi bi-gear me-2"></i> Informações do Equipamento
        </h4>
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 fw-bold text-muted">
                Nome
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-3 fw-bold text-muted">
                Sala
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Room.Name)
            </dd>

            <dt class="col-sm-3 fw-bold text-muted">
                Tipo de Equipamento
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EquipmentType.Name)
            </dd>

            <dt class="col-sm-3 fw-bold text-muted">
                Estado
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EquipmentStatus.Name)
            </dd>

            <dt class="col-sm-3 fw-bold text-muted">
                Fabricante
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Manufacturer.Name)
            </dd>

            <dt class="col-sm-3 fw-bold text-muted">
                Nº de Série
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>

            <dt class="col-sm-3 fw-bold text-muted">
                Data compra
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PurchaseDate)
            </dd>

            <dt class="col-sm-3 fw-bold text-muted">
                Descrição
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4 d-flex justify-content-end gap-2">
    <a class="btn btn-warning me-1" asp-action="Edit" asp-route-id="@Model?.EquipmentId">
        <i class="bi bi-pencil-square"></i> Editar
    </a>

    <a asp-action="Delete" asp-route-id="@Model?.EquipmentId" class="btn btn-danger">
        <i class="bi bi-trash"></i> Eliminar
    </a>

    <a class="btn btn-secondary" asp-action="Index">
        <i class="bi bi-arrow-left-circle me-1"></i> Voltar a Lista
    </a>
</div>
