@model HealthWellbeing.Models.Receita

@{
    ViewData["Title"] = "Detalhes da Receita";
}

<h1>Detalhes da Receita</h1>

<div>
    <h4>@Model.Nome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ModoPreparo)
        </dt>
        <dd class="col-sm-9">
            <div style="white-space: pre-wrap;">@Html.DisplayFor(model => model.ModoPreparo)</div>
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TempoPreparo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TempoPreparo) minutos
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Porcoes)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Porcoes)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CaloriasPorPorcao)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CaloriasPorPorcao) kcal
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Proteinas)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Proteinas) g
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HidratosCarbono)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HidratosCarbono) g
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Gorduras)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Gorduras) g
        </dd>
        
        <dt class="col-sm-3">
            Restrições Alimentares
        </dt>
        <dd class="col-sm-9">
            @if (Model.IsVegetariana)
            {
                <span class="badge bg-success">Vegetariana</span>
            }
            @if (Model.IsVegan)
            {
                <span class="badge bg-success">Vegana</span>
            }
            @if (Model.IsLactoseFree)
            {
                <span class="badge bg-info">Sem Lactose</span>
            }
            @if (!Model.IsVegetariana && !Model.IsVegan && !Model.IsLactoseFree)
            {
                <span class="text-muted">Nenhuma restrição</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReceitaId" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
</div>
