@model IEnumerable<HealthWellbeing.Models.PlanoExercicios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="CreateAutomatico">Create New A</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UtenteGrupo7)
            </th>
            <th>
                PlanoExercicios Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UtenteGrupo7.Nome)
                </td>
                <td>
                    @item.PlanoExerciciosId
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlanoExerciciosId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PlanoExerciciosId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlanoExerciciosId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>