@model HealthWellbeing.Models.AlimentoSubstituto

@{
    ViewData["Title"] = "Details";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-@(TempData["AlertType"] ?? "info") alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Details</h1>

<div>
    <h4>AlimentoSubstituto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlimentoOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlimentoOriginal.AlimentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlimentoSubstitutoRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlimentoSubstitutoRef.AlimentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProporcaoEquivalente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProporcaoEquivalente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatorSimilaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatorSimilaridade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlimentoSubstitutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
