@model IEnumerable<HealthWellbeing.Models.AlimentoSubstituto>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-@(TempData["AlertType"] ?? "info") alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Alimento Substituto</h1>

<p>
<p><a class="btn btn-primary" asp-action="Create">Novo</a></p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Alimento Original
            </th>
            <th>
                Alimento Substituto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatorSimilaridade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.AlimentoOriginal.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AlimentoSubstitutoRef.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
                <td>
                    @String.Format("{0:P0}", item.FatorSimilaridade)
            </td>
            <td>
                    <div class="btn-group" role="group">

                        <a asp-action="Details" asp-route-id="@item.AlimentoSubstitutoId"
                            class="btn btn-sm btn-secondary ms-1">Ver</a>
                        <a asp-action="Edit" asp-route-id="@item.AlimentoSubstitutoId"
                            class="btn btn-sm btn-warning ms-1 ">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.AlimentoSubstitutoId"
                            class="btn btn-sm btn-danger ms-1">Apagar</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
