@model IEnumerable<HealthWellbeing.Models.AlimentoSubstituto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlimentoOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlimentoSubstitutoRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProporcaoEquivalente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatorSimilaridade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlimentoOriginal.AlimentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlimentoSubstitutoRef.AlimentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProporcaoEquivalente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatorSimilaridade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlimentoSubstitutoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlimentoSubstitutoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlimentoSubstitutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
