@using HealthWellbeing.Models
@model IEnumerable<TypeMaterial>

@{
    ViewData["Title"] = "Tipos de Materiais Registados";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

@if (!Model.Any())
{
    <div class="alert alert-warning d-flex align-items-center border-2" role="alert">
        <i class="bi bi-exclamation-triangle-fill" style="font-size: 4rem;"></i>
        <div class="ps-3">
            <h4 class="alert-heading">Nenhum Tipo de Material Encontrado</h4>
            <p>Não há tipos de materiais registados na base de dados.</p>
        </div>
    </div>

    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle me-1"></i> Criar Novo
    </a>

    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle me-1"></i> Voltar
    </a>
}
else
{
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="h4">Lista de Tipos de Materiais</h2>
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle me-1"></i> Criar Novo
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                    <th class="text-end" scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var material in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => material.Name)</td>
                        <td>@Html.DisplayFor(modelItem => material.Description)</td>

                        <td class="text-end">
                            <a asp-action="Edit" asp-route-id="@material.TypeMaterialID" class="btn btn-sm btn-warning me-1">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>

                            <a asp-action="Details" asp-route-id="@material.TypeMaterialID" class="btn btn-sm btn-info me-1">
                                <i class="bi bi-info-circle"></i> Detalhes
                            </a>

                            <a asp-action="Delete" asp-route-id="@material.TypeMaterialID" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
