@model IEnumerable<HealthWellbeing.Models.Badge>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BadgeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadgeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadgeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BadgeType.BadgeTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BadgeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BadgeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardPoints)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BadgeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BadgeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BadgeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
