@model HealthWellbeing.Models.Fornecedor_Consumivel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fornecedor_Consumivel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumivel.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FornecedorConsumivelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
