@model HealthWellbeing.Models.Beneficio

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Aviso:</strong> @ViewData["ErrorMessage"]
    </div>
}

<h3>Tem a certeza que deseja eliminar isto?</h3>
<div>
    <h4>Benefício</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeBeneficio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeBeneficio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoBeneficio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescricaoBeneficio)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BeneficioId" />

        @if (ViewData["DisableDelete"] == null)
        {
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        }
        else
        {
            <input type="submit" value="Eliminar" class="btn btn-danger" disabled title="Não é possível apagar pois está associado a Tipos de Exercício." />
        }

        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </form>
</div>