@model IEnumerable<dynamic>
@{
    var properties = ViewBag.Properties as List<string>;
}

<h1 class="mb-4 text-primary font-weight-bold">@ViewData["Title"]</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-success rounded-2">
        <i class="fas fa-plus"></i> Criar
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover custom-table">
        <thead>
            <tr>
                @foreach (var prop in properties)
                {
                    <th>@prop</th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @foreach (var prop in properties)
                    {
                        <td>@item.GetType().GetProperty(prop).GetValue(item, null)</td>
                    }
                    <td class="actions">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning rounded-2">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary rounded-2">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger rounded-2">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
