@model HealthWellbeing.Models.TipoExercicio

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que deseja eliminar isto?</h3>
<div>
    <h4>Tipo de Exercício</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTipoExercicios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeTipoExercicios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoTipoExercicios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescricaoTipoExercicios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaracteristicasTipoExercicios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CaracteristicasTipoExercicios)
        </dd>

        <dt class="col-sm-2">
            Benefícios Associados
        </dt>
        <dd class="col-sm-10">

            @if (Model.TipoExercicioBeneficios != null && Model.TipoExercicioBeneficios.Any())
            {
                <ul class="list-unstyled">
                    @foreach (var item in Model.TipoExercicioBeneficios)
                    {
                        <li>

                            <a href="@Url.Action("Details", "Beneficio", new { id = item.BeneficioId })"
                               target="_blank"
                               class="text-decoration-none"
                               title="Ver detalhes do benefício">

                                📌 @(item.Beneficio?.NomeBeneficio ?? "Benefício não encontrado")
                            </a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <span class="text-muted">Nenhum benefício associado</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoExercicioId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </form>
</div>