@model HealthWellbeing.Models.TipoExercicio

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TipoExercicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaTipoExercicios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaTipoExercicios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoTipoExercicios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoTipoExercicios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelDificuldadeTipoExercicios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelDificuldadeTipoExercicios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeneficioTipoExercicios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeneficioTipoExercicios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GruposMuscularesTrabalhadosTipoExercicios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GruposMuscularesTrabalhadosTipoExercicios)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoExercicioId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
