@model IEnumerable<HealthWellbeing.Models.TipoExercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaTipoExercicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoTipoExercicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelDificuldadeTipoExercicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficioTipoExercicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GruposMuscularesTrabalhadosTipoExercicios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaTipoExercicios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoTipoExercicios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelDificuldadeTipoExercicios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficioTipoExercicios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GruposMuscularesTrabalhadosTipoExercicios)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoExercicioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoExercicioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoExercicioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
