@model Unidade
@{
    ViewData["Title"] = "Detalhes";
}
<h2>@ViewData["Title"]</h2>

<dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">@Model.UnidadeId</dd>
    <dt class="col-sm-3">Comida</dt>
    <dd class="col-sm-9">@Model.NomeComida</dd>
    <dt class="col-sm-3">Quantidade</dt>
    <dd class="col-sm-9">@Model.Quantidade</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.UnidadeId" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</p>
