@model HealthWellbeing.Models.UtenteSaude
@{
    ViewData["Title"] = "Detalhes do Utente";
}
<h1>Detalhes</h1>

<dl class="row">
    <dt class="col-sm-3">Nome</dt>
    <dd class="col-sm-9">@Model.NomeCompleto</dd>

    <dt class="col-sm-3">Data de Nascimento</dt>
    <dd class="col-sm-9">@Model.DataNascimento.ToString("yyyy-MM-dd") (@Model.Idade anos)</dd>

    <dt class="col-sm-3">NIF</dt>
    <dd class="col-sm-9">@Model.Nif</dd>

    <dt class="col-sm-3">NISS</dt>
    <dd class="col-sm-9">@Model.Niss</dd>

    <dt class="col-sm-3">NUS</dt>
    <dd class="col-sm-9">@Model.Nus</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Telefone</dt>
    <dd class="col-sm-9">@Model.Telefone</dd>

    <dt class="col-sm-3">Morada</dt>
    <dd class="col-sm-9">@Model.Morada</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.UtenteSaudeId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</p>
