@model Room

@{
    ViewData["Title"] = "criação de Sala Completa";
}

<h1>Sala Criada com Sucesso!</h1>

<div class="card">
    <div class="card-body">

        <h5 class="card-title text-success">Resumo da Sala Criada!</h5>

        <hr />

            <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Id:</strong> @Model.RoomId</li>
            <li class="list-group-item"><strong>Tipo:</strong> @Model.RoomsType</li>
            <li class="list-group-item"><strong>Especialidade:</strong> @Model.Specialty</li>
            <li class="list-group-item"><strong>Nome:</strong> @Model.Name</li>
            <li class="list-group-item"><strong>Localização:</strong> @Model.Location</li>
            <li class="list-group-item"><strong>Horário:</strong> @Model.OperatingHours</li>
            <li class="list-group-item"><strong>Estado:</strong> @Model.Status</li>
            <li class="list-group-item"><strong>Observações:</strong> @Model.Notes</li>
            </ul>

        <hr />

        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-column flex-md-row justify-content-between gap-2">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary flex-fill me-lg-2">Voltar ao inicio</a>
                        <a asp-controller="Room" asp-action="CreateRoom" class="btn btn-primary flex-fill me-lg-2">Adicionar nova Sala</a>
                        <a asp-controller="Room" asp-action="IndexRoom" class="btn btn-primary flex-fill me-lg-2">Ver lista das Salas</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>