@model IEnumerable<Room>
@{
    ViewData["Title"] = "Lista de Salas";
}
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">@TempData["Mensagem"]</div>
}


<h1>Lista das Salas</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Capacidade</th>
            <th scope="col">Especialidade</th>
            <th scope="col">Localização</th>
            <th scope="col">Observações</th>
            <th scope="col">Disponibilidade</th>
            <th scope="col" class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Room room in Model)
        {
            <tr>
                <td>@room.SalaId</td>
                <td>@room.Nome</td>
                <td>@room.Capacidade</td>
                <td>@room.Especialidade</td>
                <td>@room.Localizacao</td>
                <td>@room.Observacoes</td>
                <td>@(room.Disponibilidade ? "disponível" : "indisponível")</td>
                <td class="d-flex gap-2">
                    <a href="@Url.Action("ReadRoom", "Room", new { id = room.SalaId })" class="btn btn-success w-100 text-center">Ver</a>
                    <a href="@Url.Action("UpdateRoom", "Room", new { id = room.SalaId })" class="btn btn-warning w-100 text-center">Editar</a>
                    <a href="@Url.Action("DeleteRoom", "Room", new { id = room.SalaId })" class="btn btn-danger w-100 text-center">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column flex-md-row justify-content-between gap-2">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary flex-fill me-lg-2">Voltar ao início</a>
                <a asp-controller="Room" asp-action="CreateRoom" class="btn btn-primary flex-fill me-lg-2">Adicionar nova Sala</a>
            </div>
        </div>
    </div>
</div>