@model HealthWellbeing.Models.ScoringStrategy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScoringStrategy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoringStrategyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoringStrategyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoringStrategyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoringStrategyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoringStrategyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoringStrategyDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ScoringStrategyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
